.header {
  background: linear-gradient(to right, #1e3d59 60%, #4a667a 30%, #f4a261 10%);
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo img {
  max-width: 150px; /* Adjust this size according to your logo */
  margin-bottom: 1rem;
}

.header-text h1 {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}

.header-text p {
  font-size: 1.2rem;
}
